



    

    
        
            
        
    

    
        
        
        
            
            
        
        
             
            
            
                 
            
        
    

    
        
        
        
            
            
        
        
             
            
            
                 
            
        
    

    
        
        
        
            
            
        
        
             
            
            
                 
            
        
    

    
        
        
        
            
            
        
        
             
            
            
                 
            
        
    


        
    

    
        
    

    <logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/manager]" level="INFO"
        additivity="false">
        
    

    <logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/host-manager]" level="INFO"
        additivity="false">
        
    

    
        
        
    


